$confirmation-form-item_height: 40px;
$confirmation-font-size: 18px;

.confirmation-form {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: $confirmation-font-size;
}

.confirmation-form-form {
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .confirmation-form-form {
    width: $layout-width-tablet;
  }
}

@mixin bnt {
  padding: 0;
  border: none;
  font-family: $font-family;
  font-size: $confirmation-font-size;
  color: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 2px;

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-base5_200;
  }
}

@mixin btn-color($default, $hover, $disabled) {
  color: $default;

  &:hover,
  &:focus,
  &:active {
    color: $hover;
  }

  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: default;
      color: $disabled;
    }
  }
}

@mixin btn-bg($default, $hover, $disabled) {
  background-color: $default;

  &:hover,
  &:focus,
  &:active {
    background-color: $hover;
  }

  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: default;
      background-color: $disabled;
    }
  }
}

.confirmation-form-btn {
  height: $confirmation-form-item_height;
  @include bnt();
  @include btn-color($color-base1, $color-base7, $color-base7);
  @include btn-bg($color-base3_200, $color-base3_500, $color-base4);

  &-add,
  &-submite {
    width: 100%;
  }

  &-add + &-submite {
    margin-top: 4px;
  }
}

.confirmation-form-btn-cancel {
  height: $confirmation-form-item_height;
  width: 100%;
  @include bnt();
  @include btn-color($color-base6_100, $color-base6, $color-base6);
  @include btn-bg($color-base6_500, $color-base6_400, $color-base6_400);
}

.confirmation-form-fio-text {
  display: flex;
  align-items: center;
  height: $confirmation-form-item_height;
  font-family: $font-family;
  font-size: $confirmation-font-size;
  word-wrap: break-word;
  box-shadow: inset 0px -2px 0px 0px $color-base3_200;
}

.confirmation-form-fio-input {
  width: 100%;
}

.confirmation-form-info {
  width: 100%;
  text-align: center;
  font-size: 20px;

  &_invalid {
    margin-bottom: 4px;
    color: tomato;
  }
}

@media (min-width: $breakpoint-tablet) {
  .confirmation-form-info {
    font-size: 24px;
  }
}

.confirmation-form-btn-submite + .confirmation-form-btn-cancel,
.confirmation-form-fio-text + .confirmation-form-btn-submite {
  margin-top: 12px;
}

.confirmation-form-item {
  margin: 12px 0px;
  display: grid;
  grid-template: 'text del';
  grid-template-columns: 1fr 90px;
  column-gap: 12px;

  &__fio-input {
    grid-area: text;
  }

  &__btn-delete {
    grid-area: del;
  }

  &__btn_active {
    background-color: $color-base2;
    color: white;
  }
}
