$content-wrapper-title-height: 100px;

.content-wrapper {
  width: $layout-width;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper-title {
  overflow: hidden;
  height: $content-wrapper-title-height;
  width: $layout-width;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    height: $content-wrapper-title-height + 40px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .content-wrapper {
    width: $layout-width-tablet;
    margin-top: 50px;
  }

  .content-wrapper-title {
    width: $layout-width-tablet;
    height: $content-wrapper-title-height + 40px;

    &__img {
      height: $content-wrapper-title-height + 120px;
    }
  }
}

// @media (min-width: $breakpoint-desktop) {
//   .content-wrapper {
//     width: $layout-width-desktop;
//     margin-top: 50px;
//   }

//   .content-wrapper-title {
//     width: $layout-width-desktop;

//     &__img {
//       height: $content-wrapper-title-height + 120px;
//     }
//   }
// }