$contacts-font-size: 26px;
$contacts-whatsapp-size: 50px;

@mixin link {
  padding: 0px;
  border: none;
  font-family: $font-family;
  font-size: $contacts-font-size;
  color: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border-radius: 2px;

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-base5_200;
  }
}

.contacts {
  display: grid;
  grid-template: 'first''second';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  font-family: $font-family;
  font-size: $contacts-font-size;

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__col-first {
    grid-area: first;
  }

  &__col-second {
    grid-area: second;
  }
}

.contacts-phone {
  @include link();
  z-index: 2;
  width: 240px;
  color: $color-base3_700;

  &:hover,
  &:active {
    color: $color-base3_900;
  }
}

.contacts-name {
  width: $layout-width;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    max-height: 150px;
    position: relative;
    z-index: 1;
  }
}

.content-text+.contacts {
  margin-top: 40px;
}

@media (min-width: $breakpoint-tablet) {
  .contacts {
    row-gap: 40px;
  }

  .contacts-name {
    &__img {
      max-height: 200px;
      position: relative;
      z-index: 1;
    }
  }
}