$content-wrapper-title-height: 110px;

.content-wrapper {
  width: $layout-width;
  margin-top: 24px;
}

.content-wrapper-title {
  height: $content-wrapper-title-height;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: $font-family-title;
  font-size: 32px;
  text-align: center;
  margin: 20px 0px 20px 0px;
  overflow: visible;
  background: url('/assets/img/content-text-background-2.png');
  background-repeat: no-repeat;
  background-size: $layout-width - 50px $content-wrapper-title-height + 90px;
  background-position: 50% 40%;
}

@media (min-width: $breakpoint-tablet) {
  .content-wrapper {
    width: $layout-width-tablet;
    margin-top: 50px;
  }

  .content-wrapper-title {
    height: $content-wrapper-title-height + 20px;
    font-size: 38px;
    background-size: $layout-width - 20px $content-wrapper-title-height + 100px;
    background-position: 50% 40%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .content-wrapper {
    width: $layout-width-desktop;
    margin-top: 50px;
  }

  .content-wrapper-title {
    height: $content-wrapper-title-height + 20px;
    font-size: 38px;
    background-size: $layout-width - 20px $content-wrapper-title-height + 100px;
    background-position: 50% 40%;
  }
}