.event-location-map {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $layout-width;
  margin-top: 38px;

  &__ymaps {
    width: $layout-width;
    height: $layout-width;

    border-radius: 4px;
    overflow: hidden;
    background: rgb(228, 228, 228);

    &>div,
    & .ymaps-2-1-72-map {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__curtain {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: $layout-width;
    height: $layout-width;
    padding: $layout-width/5 0px 0px 0px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.25s, color 0.25s;

    font-weight: bold;
    color: $color_base6_100;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.7);
      color: $color_base6;
    }

    &_disable {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .event-location-map {
    height: $layout-width-tablet;
  }

  .event-location-map__ymaps,
  .event-location-map__curtain {
    width: $layout-width-tablet;
    height: $layout-width-tablet;
  }

  .event-location-map__curtain {
    font-size: 22px;
    padding: $layout-width-tablet/4 0px 0px 0px;
  }
}