.event-location-map {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $layout-width;
  margin-top: 38px;

  &__ymaps {
    width: $layout-width;
    height: $layout-width;

    border-radius: 4px;
    overflow: hidden;
    background: rgb(228, 228, 228);

    &>div,
    & .ymaps-2-1-72-map {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .event-location-map {
    height: $layout-width-tablet;
  }

  .event-location-map__ymaps {
    width: $layout-width-tablet;
    height: $layout-width-tablet;
  }
}