.greeting-photo,
.greeting-photo-picture__img {
  max-width: $layout-width;
}

@media (min-width: $breakpoint-tablet) {
  .greeting-photo,
  .greeting-photo-picture__img {
    max-width: $layout-width-tablet;
  }
}

@media (min-width: $breakpoint-desktop) {
  .greeting-photo,
  .greeting-photo-picture__img {
    max-width: $layout-width-desktop;
  }
}
