.greeting-text {
  width: 100%;
  margin: 0px;
  padding: 150px 0px 0px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    max-width: $layout-width + 80px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .greeting-text {
    margin: 0px;
    padding: 250px 0px 0px 0px;
    height: 264px;

    &__img {
      max-width: $layout-width-tablet + 80px;
    }
  }
}