$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;
$layout-width: 320px;
$layout-width-tablet: 700px;
$layout-width-desktop: 900px;
$font-family-title: 'Lobster',
cursive;
$font-family: 'Alice',
serif;
$color-base1: #48160f;
$color-base2: #7b4253;
$color-base3: #d5b2ca;
$color-base3_200: #f7bac3;
$color-base4: #f5eafb;
$color-base5: #c2d4de;
$color-base6: #000000;
$color-base6_200: #cecece;
$color-base7: #ffffff;