$color-base1: #48160f;
$color-base2: #7b4253;
$color-base2_200: #795d61;
$color-base3: #d5b2ca;
$color-base3_200: #ffdae3;
$color-base3_500: darken($color-base3_200, 10%);
$color-base3_800: #ea3f7b;
$color-base3_700: lighten($color-base3_800, 5%);
$color-base3_900: darken($color-base3_800, 20%);
$color-base4: #f5eafb;
$color-base5: #c2d4de;
$color-base5_200: #b3cefb;
$color-base5_300: darken($color-base5_200, 15%);
$color-base5_400: darken($color-base5_200, 25%);
$color-base6: #000000;
$color-base6_100: #696969;
$color-base6_400: #d6d6d6;
$color-base6_500: #f9f9f9;
$color-base7: #ffffff;
$color-base8: #1ebea5;
$color-base8_500: lighten($color-base8, 50%);
$color-base9: #e7c6b2;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;
$layout-width: 320px;
$layout-width-tablet: 700px;
$layout-width-desktop: 900px;
$font-family-title: 'Lobster',
cursive;
$font-family: 'IBM Plex Serif',
serif;
$font-color: $color-base2_200;