$breakpoint-tablet: 768px;
$layout-width: 320px;
$layout-width-tablet: 700px;
$font-family-title: 'Lobster', cursive;
$font-family: 'Cormorant Infant', serif;
$color-base1: #48160f;
$color-base2: #7b4253;
$color-base3: #d5b2ca;
$color-base4: #f5eafb;
$color-base5: #c2d4de;
